body {
    background-image: url('../static/image/186.jpg');
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: wheat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec .content{
    max-width: 800px;
    text-align: center;
}
.sec .content h1{
    font-size: 36px;
}
.sec .content p{
    font-weight: 300;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px ;
}
.container .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contact-info .box{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.container .contact-info .box .icon{
    display:flex;
    margin-left:20px;
    font-size: 16px;
    font-weight: 200;
}
.container .contact-info .box .icon h3{
    font-weight: 500;
    color: #00bcd4;
}
.form{
    width: 40%;
    padding: 40px;
    background: white;
}
.form h2{
    font-size: 30px;
    color: #333;
    font-weight:500;
}
.form .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.form .input-box input,
.form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom:2px solid #333;
    outline: none;
    resize: none;
}
.form .input-box span{
    position: absolute;
    left: 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.6s;
    color: #666;
}
.form .input-box input:valid ~ span,
.form .input-box input:focus ~ span,
.form .input-box textarea:valid ~ span,
.form .input-box textarea:focus ~ span{
    color: #ee2727;
    font-size: 12px;
    font-weight: bold;
    transform: translateY(-20px);
}
.form .input-box input[type="submit"]{
    width: 100px;
    background: #00bed4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}
