*{
    padding: 0px;
    margin: 0px;
}
.sign{
    width: 100%;
    height: 120vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('../static/images/ka.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 350px;
    height: 450px;
    box-shadow: 0 0 40px 20px rgb(0, 0, 0,0.6);
    border-radius: 5px;
    perspective: 1000px;
    
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 55px;
    box-sizing: border-box;
    border-radius: 10px;
    
    backdrop-filter: blur(6px);
}
.back a button{
    margin-bottom: 10px;
}
.card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.input{
    width: 100%;
    background: transparent;
    border: 1px solid grey;
    margin: 6px 0;
    height: 32px;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    color: black;
}
::placeholder{
    color:white;
    font-size: 12px;

}
button{
    width: 100%;
    height: 32px;
    background-color:rgb(238, 238, 66);
    border: 1px solid #fff;
    margin: 35px 0 10px;
    font-size: 20px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color:black;
    cursor: pointer;
}
.btn1{
    position: relative;
}
.btn1::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background:#fff;
    position: absolute;
    right: -1px;
    top: -1px;
}
span{
    font-size: 18px;
    margin-left: 10px;
}
.card .btn2{
    margin-top: 78px;
}
.card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 8px;
}
.box{
    height: 200px;
    width: 200px;
}