*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    padding: 20px;
    background-color: #635f5f; 
    height: 45px;
    display: flex;
    text-align: left;
    justify-content: space-between;
}

header img{
    border-radius: 50px;
    float: left;
    width: 65px;
}
header h1{
    display: flex;
    color: white;
    font-weight: bold;
    font-size:40px ;
    margin-left: 20px;
}
nav{
    display: flex;
    margin-bottom: 440px;
    float: right;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
}
nav ul li a:hover{
    background-color: #242323;
    color: wheat;
    padding:10px ;
    border-radius: 30px;
}
.product {
    padding: 50px 0;
}
.product h2{
    text-align: center;
    font-size: 35px;
}
.products h3{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.products h6{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    color: rgb(61, 59, 59);
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 50px 0;
}
.products{
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    float: left;
    margin: 15px;
    cursor: pointer;
    padding: 40px;
    transition: .4s;
    background: white;
    box-shadow:0 14px 28px rgb(71, 70, 70) ;
}
.products:hover{
    transform: (0px, -20px);
    transform: translateY(-10px)
}
.products img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}
.products button{
    width: 70%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border: 0;
    outline: none;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    color: white;
    background:#67f067;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.2s ease;
}
.products button:hover{
    background-color: green;
}
.footer{
    background-color: #333;
    padding: 40px 0;
}
.footer .in-footer{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.footer .in-footer .rows{
    display: flex;
    flex-wrap: wrap;
}
.footer .in-footer .rows .cols{
    width: 25%;
    padding: 0px;
}
.footer .in-footer .rows .cols h3{
    font-size: 22px;
    color: white;
    text-transform: capitalize;
    font-weight: 900px;
    position: relative;
}
.footer .in-footer .rows .cols ul li{
    margin-bottom: 15px;
    cursor: pointer;
}
.footer .in-footer .rows .cols ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: wheat;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.footer .in-footer .rows .cols ul li a:hover{
    color: aqua;
    padding-left: 10px;
}
.footer .in-footer .rows .cols .icon-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 20px 20px 10px 0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}
.footer .in-footer .rows .cols .icon-links a:hover{
    filter: grayscale(10%);
    width: 50px;
    height: 50px;
}