{% extends 'conerapp/navbar.html'%}
{% load static %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Page</title>
    <link rel="stylesheet" href="{% static 'cart.css' %}"> 
</head>


<body>
    <div class="heading">
        <h1>My Shopping Cart</h1>
    </div>

    {% for message in messages%}
    <h3 style="background-color: #67f067; padding:20px; ;">{{message}}</h3>
    {%endfor%}

    
    <div class="main">
        {% if  cart_products %}
            <div class="cart-container">
                {% if user.is_authenticated %}
                <h2> <span>{{ user.username }}'s </span> Cart</h2>
                {% endif %}
                <table class="product-table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    {% for product in cart_products %}
                        <tbody>
                        
                            <tr>
                                <td><img src="{{ product.image.url }}" alt="Product-images"></td>
                                <td>{{ product.name }}</td>
                                <td>
                                    <select class="quantity" id="select{{ product.id }}">
                                        {% for key, value in quantities.items %}
                                              {% if key == product.id|slugify%}
                                                   <option selected>{{ value }}</option>
                                              {% endif %}
                                        {% endfor %}
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </td>
                                <td>Shs.<span>{{ product.price }}</span></td>
                                <td>
                                    <div class="buttons">
                                        <button type="button" class="button" data-index="{{ product.id }}"> Update</button>
                                        <button type="button" class="button-delete" data-index="{{ product.id }}"> Delete </button>
                                    </div>
                                </td>
                            </tr>
                        
                        </tbody>
                    {% endfor %}
                </table>
                <br><br>
            </div>

            <div>
               <div class="cart-totals">
                    <h3>Your Totals</h3>
                    <div class="total">
                        <h3 id="total"> Total: <span>  Shs. {{ totals }} </span></h3>
                        <a href="/checkout"><button class="checkout-button">Checkout</button></a>
                    </div>
                </div> 
            </div>
        {% else %}

            <div class="mess">
                <p>There's Nothing in Your Cart.........</p>
            </div>

        {% endif %}

    </div>

</body>
</html>




<script type="text/javascript">
//Update Cart

$(document).on('click', '.button', function(e){
	e.preventDefault();
     // grab the product
     var productid = $(this).data('index');
	$.ajax({
		type: 'POST',
		url: "{% url 'cart_update' %}",
		data:{
			product_id: $(this).data('index'),
               product_qty: $('#select' + productid + ' option:selected').text(),
			csrfmiddlewaretoken : '{{ csrf_token }}',
			action : 'post'
		},
		success : function(json){
			// console.log(json)
			// document.getElementById("cart_quantity").
			// textContent = json.qty
               location.reload();
		},
		error : function(xhr, errmsg, err){

		}

	}); // $.ajax  Helps to send data to the backend without having to referesh the page.

});

//Delete From Cart
$(document).on('click', '.button-delete', function(e){
	e.preventDefault();
     // grab the product
     //var productid = $(this).data('index');
	$.ajax({
		type: 'POST',
		url: "{% url 'cart_delete' %}",
		data:{
			product_id: $(this).data('index'),
			csrfmiddlewaretoken : '{{ csrf_token }}',
			action : 'post'
		},
		success : function(json){
			// console.log(json)
			// document.getElementById("cart_quantity").
			// textContent = json.qty
               location.reload();
		},
		error : function(xhr, errmsg, err){

		}

	}); // $.ajax  Helps to send data to the backend without having to referesh the page.

});
</script>

{%endblock%}
