body{
    background-image: url('../static/images/add.jpg');
    background-position: center;
    background-size: cover;
    /*background-position: center;
    background-size: cover;*/
    min-height: 100vh;
  }

.header {
    background-color: #f0a504;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}


.container{
    width: 750px;
    border:2px solid green;
    color: black;
    height:600px;
    margin: 40px 0 40px 20%;
    border-radius: 10px;
    padding: 40px 35px 55px;
    background-color: transparent;
    backdrop-filter: blur(20px);
  
  }
  
.form{
       font-size: 20px;
       display: flex;
       flex-direction: column;
       color: black;
       margin: 40px;
  }

.form-control{
    width: 100%;
    background: transparent;
    border: 1px solid grey;
    margin:10px;
    margin-left: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 0px 10px;
    box-sizing: border-box;
    text-align: left;
    font-size: 20px;
    left: 30px;
    outline: none;
    color: black;
}
  
  .buttons{
  display: flex;
  justify-content: space-between;
  }
  .button{
  background-color: rgb(13, 82, 11);
  display: block;
  margin: 20px 0px 0px 20px;
  text-align: center;
  border-radius: 12px;
  border: none;
  padding: 14px 110px;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.25px;
  }
  .button:hover{
    background-color: rgb(11, 189, 35);
  }