.heading {
    background-color: #f0a504;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.cart-container {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 40px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-container h2{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.cart-container span{
    color:mediumvioletred;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.product-table td img{
    width: 180px;
    height: 150px;
}

.product-table th {
    background-color: #f5f5f5;
}


.product-table .quantity{
    width: 60px;
    height: 30px;
}

/*................. Styling Buttons ..............*/

.button-delete {
    background-color: #e6262699;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.button-delete:hover {
    background-color: red;
    color: white;
}


.button {
    background-color: #67f067;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: green;
    color: white;
}


.checkout-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.checkout-button:hover {
    background-color: green;
    color: white;
}

/*................. Styling Buttons ..............*/

.cart-totals {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 40px;
    border-radius: 5px;
    margin-top: 20px;
}

.cart-totals h2 {
    margin-bottom: 10px;
}

.total {
    margin-top: 20px;
    text-align: right;
}

.mess{
    padding: 200px;
    text-align: center;
}