*{
	
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

.ship{
	background-image: url('../static/images/corner3.jpeg');
	background-size: cover;
    background-position: center;
	height: 100%;
	margin: auto;
}
.heading {
    background-color: #f0a504;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.checkout-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color:#fff ;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-table,
.shipping-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th,
.cart-table td,
.shipping-table th,
.shipping-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.cart-table th,
.shipping-table th {
    background-color: #f5f5f5;
}


.button {
    background-color: #67f067;
    color: #000;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: green;
    color: white;
}


.checkout-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease;
}


.checkout-button:hover {
    background-color: green;
    color: white;
}


.total {
    margin-top: 20px;
    text-align: right;
}

.checkout-container h2{
	background-color: #f5f5f5;
	text-align: center;
	margin-top: 30px ;
	padding: 20px 0;
	font-size: 20px;
}

.shipping-table {
	align-content: center;
	padding: 50px;
}


form{
	display: flex;
	align-items: flex-start;
}


.input{
	width: 70%;
	height: 40px;
	margin-top: 20px;
	outline: none;
	border: 2px solid #f5f5f5 ;
	font-size: 17px;
	text-align: center;
	border-radius: 10px;
	align-items: self-end;
}