*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

.top-page {
    background-color:orange;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.top-page span{
    text-transform: capitalize;
    color: mediumvioletred;
}
.top-page img{
    border: none;
    border-radius: 5%;
    height: 300px;

}
.top-page h2 {
    font-size: 40px;
    margin-bottom:10px ;
}
.top-page p {
    font-size: 18px;
}
.shop{
    padding: 50px 0px;

}
.shop h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 50px 0px;
}
.categories .category{
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    float: left;
    margin: 20px;
    cursor: pointer;
    padding: 30px;
    transition: .4s;
    background: white;
    box-shadow:0 14px 28px rgb(71, 70, 70) ;
}
.categories .category:hover{
    transform: translateY(-20px);
}
.categories .category img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.categories .category a{
    text-decoration: none;
}
.categories .category h3{
    background-color: #56a856;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    color: #fff;
}
.category h2{
    text-align: center;
    margin-top: 10px;
    font-size:40px ;
}
.categories .category h3:hover{
    background-color: green;
}
.product {
    padding: 50px 0;
}
.product h2{
    text-align: center;
    font-size: 40px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 50px 0;
}
.products{
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    float: left;
    margin: 15px;
    cursor: pointer;
    padding: 40px;
    transition: .4s;
    background: white;
    box-shadow:0 14px 28px rgb(71, 70, 70) ;
}
.products:hover{
    transform: (0px, -20px);
    transform: translateY(-10px)
}
.products h3{
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}
.products h6{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    color: rgb(61, 59, 59);
}
.products img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.products button{
    width: 70%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border: 0;
    outline: none;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    color: white;
    background:#67f067;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.2s ease;
}
.products button:hover{
    background-color: green;
}



@media(max-width:1000px){
    .products{
        width: 50%;
    }
}
@media(max-width:800px){
    .products{
        width: 60%;
    }
}
