*{
    padding: 0px;
    margin: 0px; 
}
.sign{
    width: 100%;
    height: 120vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('../static/images/ka.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 350px;
    height: 550px;
    box-shadow: 0 0 40px 20px rgb(0, 0, 0,0.6);
    border-radius: 5px;
    perspective: 1000px;
    
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 55px;
    box-sizing: border-box;
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

.card h2{
    font-weight: normal;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
label{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.input{
    width: 100%;
    background: transparent;
    border: 1px solid grey;
    margin: 6px 0;
    height: 32px;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    color: black;
}
::placeholder{
    color:#fff;
    font-size: 17px;
    font-weight: 100;

}
.btn1{
    width: 50%;
    height: 32px;
    align-content: center;
    background-color:#2aec3a;
    border: 1px solid #fff;
    margin: 35px 0 10px;
    font-size: 20px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color:white;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn1:hover{
    background-color: green;
    color: black;
}
