*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cambria;
}

header{
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
/*        position: fixed;*/
    z-index: 99;
/*        box-shadow: 0 0 10px #000;*/
}

#ch-bx{
    display: none;
}

i{
    color: white;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color: white;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 30px;
}

header .search-box{
    flex: 1;
    position: relative;
}

.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: grey;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;

}

.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: #67f067;
}
.search-box button:hover{
background-color: green;
}

header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all ease 0.5s;
}

header ul li a:hover{
    color: black;
}

header .menu{
    font-size: 2.5em;
    display: none;
}
.cart{
    display: flex;
    border:  1px solid white;
    background-color: #67f067;
    height: 40px;
    width: 100px;
    cursor: pointer;
    margin-right: 20px;
    align-items: center;
    transition: all ease 0.5s;
}

.cart:hover{
    background-color: green;
    color: white;
}

.cart i{
    margin-left: 7px;
    color: black;
}

.cart li{
    list-style: none;
}

.cart li a{
    text-decoration: none;
    margin-left: 7px;
    color:black;
    font-weight: 600;
    text-transform: capitalize;
    transition: all ease 0.5s;
}

.cart span{
    margin-left: 7px;
    background-color: black;
    height: 25px;
    width: 25px;
    color: white;
    font-size: 15px;
    padding-left: 9px;
    padding-top: 5px;
    border-radius: 90px;
}

.dropdown{
    float: right; 
    margin-right: 20px;
}

.dropdown .dropbtn{
    background-color: #4CAF50; 
    color: white; 
    padding: 10px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer;
}

#myDropdown{
    display: none; 
    position: absolute; 
    background-color: #f9f9f9; 
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1;
}

#myDropdown a{
    color: rgb(241, 156, 28); 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block;
    transition: all 0.5s;
}
#myDropdown a:hover{
    background-color: grey;
}
/* Footer Styling */
.footer {
    background-color: grey;
    color: white;
    padding: 10px 20px; /* Adjusted padding for more space */
    text-align: center;
}

.in-footer {
    max-width: 1200px;
    margin: 0 auto;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Space out columns evenly */
    margin-bottom: 10px; /* Reduce margin for a more compact look */
}

.cols {
    flex: 1; /* Allow each column to take equal width */
    margin: 10px; /* Optional: Adjust margin for spacing */
    min-width: 200px; /* Minimum width for each column */
}

.cols h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.cols ul {
    list-style: none;
    padding: 0;
}

.cols ul li {
    margin: 5px 0; /* Reduce margin for more compact appearance */
}

.cols ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.cols ul li a:hover {
    color: #ffcc00;
}

.icon-links a {
    margin: 0 5px; /* Reduced margin between icons */
}

.icon-links img {
    transition: transform 0.3s ease;
    width: 30px; /* Adjust the size of the icons */
}

.icon-links a:hover img {
    transform: scale(1.1);
}

.Copyright {
    border-top: 1px solid #555;
    padding-top: 5px; /* Reduce padding for a more compact appearance */
    font-size: 0.9em;
    margin-top: 10px; /* Margin to separate from the rest of the content */
}


@media(max-width: 1000px){
    .search-box button{
            position: absolute;
    }

    header ul{
            position: absolute;
            top: 100px;
            background: rgb(0, 0, 0, 0.5);
            height: calc(100vh - 100px);
            width: 50%;
            flex-direction: column;
            align-items: center;
            transition: right 0.5s, linear;
    }

    header ul li a:hover{
    color: cyan;
}

    header .menu{
            display: block;
            width: 100px;
            text-align: center;
    }

    #ch-bx:checked ~ ul{
            right: 0;

    }

    .cart{
            margin-left: 30px;
    }


}

@media(max-width:600px){
    header .logo{
            font-size: 25px;
            margin-left: 10px;
    }
    header ul{
            width: 100%;
    }
}
