*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.product {
    padding: 50px 0;
}
.product h2{
    font-size: 40px;
    margin-left: 20px;
}
.content{
    display: flex;
    margin-left: 40px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 50px 0;
}
.products{
    width: 900px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    margin: 15px;
    padding: 40px;
    transition: .4s;
    background: white;
    box-shadow:0 14px 28px rgb(71, 70, 70) ;
}
.products .info{
    display: flex;
/*    justify-content: space-between;*/
}

.contents{
          display: flex;
          margin-top: 20px;
          font-size: 25px;
}

.qty{
          font-size: 25px;
          margin-right: 20px;
}
.quantity{
          width: 60px;
}


.products .info .info-content{
    text-align: left;
    margin-top: 60px;
    margin-left: 80px;
}
.products:hover{
    transform: translateY(-10px)
}
.products h3{
    font-weight: bold;
    font-size: 30px;
}
.products p{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
.products h6{
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    color: rgb(61, 59, 59);
}
.products img{
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.products .buttons{
    display: flex;
    justify-content: space-between;
}
.products .button{
    background-color: #67f067;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: none;
    padding: 14px 110px;
    outline: none;
    color:black;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25px;
}
.products .button:hover{
    background-color:  green;
    color:white;
}



@media(max-width:1000px){
    .products{
        width: 50%;
    }
}
@media(max-width:800px){
    .products{
        width: 60%;
    }
}
