*{
    padding: 0px;
    margin: 0px;
}

.sign{
    width: 100%;
    height: 120vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('../static/images/ca.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 350px;
    box-shadow: 0 0 40px 20px rgb(0, 0, 0,0.6);
    border-radius: 5px;
      
}

.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.back{
    width: 100%;
    height: 100%;
    padding: 55px;
    box-sizing: border-box;
    border-radius: 10px;
    
    backdrop-filter: blur(6px);
}
.card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.input{
    width: 100%;
    background: transparent;
    border: 1px solid grey;
    margin: 6px 0;
    height: 32px;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    color: white;
}
::placeholder{
    color:white;
    font-size: 12px;

}
.btn1{
    width: 100%;
    height: 32px;
    background-color: rgb(49, 170, 34);
    border: 1px solid #fff;
    margin: 35px 0 10px;
    font-size: 20px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: 1s ease;
}
.btn1:hover{
    background-color: green;
    color: black;
}
