*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.product {
    padding: 50px 0;
}
.product .button1{
    float: right;
    font-size: 30px;
    color: black;
    cursor: pointer;
    text-align: center;
/*    width: 70px;
    height: 70px;*/
    padding: 20px 30px ;
    margin-right: 20px;
    margin-bottom: -2500px;
    border-radius: 50%;
    text-decoration: none;
    background-color:#67f067;
}
.product .button1:hover{
    background-color: green;
    color: white;
}
.product h2{
    text-align: center;
    font-size: 35px;
}
.products h3{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.products h6{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 70px;
/*    margin-top: 30px;*/
    color: rgb(61, 59, 59);
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 50px 0;
}
.products{
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    float: left;
    margin: 15px;
    cursor: pointer;
    padding: 40px;
    transition: .4s;
    background: white;
    box-shadow:0 14px 28px rgb(71, 70, 70) ;
}
.products:hover{
    transform: translateY(-10px)
}
.products img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}
.products .button{
/*    width: 70%;*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border: 0;
    outline: none;
    font-size: 20px;
    padding: 10px;
    margin: 10px 15px;
    color: black;
    text-decoration: none;
    background:#67f067;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.2s ease;
}
.products .button:hover{
    background-color: green;
    color: white;
}
