{% extends 'conerapp/navbar.html'%}
{% load static %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing Page</title>
    <link rel="stylesheet" href="{% static 'checkout.css' %}">
</head>
<body>
    <section >

        <div class="container">

            <h1>Billing Info </h1>

        </div>
    </section>
    <hr>

    {% for product in cart_products %}
          <div class="info-content">
                 <h3>{{ product.name }}</h3>
                 <h6>{{ product.price }}</h6>
                 <div class=" contents">
                     <div class="qty">Quantity:</div>
                       {% for key, value in quantities.items %}
                             {% if key == product.id|slugify%}
                                  {{ value }}
                             {% endif %}
                       {% endfor %}
                <</div>
         </div>

    {% endfor %}

    <h2>Total:  Shs{{ totals }}</h2>

     <a href="/cart" class="button">Update Items</a>




<div class="shipping-info">
        <h3>Shipping infomation</h3>
        <div>
                <form method="POST" action="{% url 'billing'%}">
                        {% csrf_token %}
                        {{ shipping_form.as_p }}
                        }
                </form>
        </div>
</div>

      <a href="/" class="button">Py Now</a>

<!--     {% for message in messages%}
          <h3 style="background-color: #67f067; padding:20px; ;">{{message}}</h3>
    {%endfor%} -->



{%endblock%}