{% extends 'conerapp/navbar.html'%}
{% load static %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Page</title>
    <link rel="stylesheet" href="{% static 'checkout.css' %}">
</head>
<body>

    <div class="heading">

        <h1>Check Out </h1>

    </div>
<hr>

    <div class="ship">
    <div class="checkout-container">
        <h2>Order Summary</h2>
        
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            {% for product in cart_products %}
                <tbody>
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>Shs.<span>{{ product.price }}</span></td>
                        <td>
                            {% for key, value in quantities.items %}
                                {% if key == product.id|slugify%}
                                    {{ value }}
                                {% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                    <!-- Add more product rows here -->
                </tbody>
            {% endfor %}
        </table>
        <div class="total">
            <h3>Total:  Shs{{ totals }}</h3><br><br>
            <a href="/cart" class="button">Update Items</a>
        </div>

        
            <h2>Shipping Information</h2>
            <table class="shipping-table">
                <div class="shipping-table">
                    <form method="POST" action="{% url 'billing'%}">
                        {% csrf_token %}
                        {{ shipping_form.as_p }}
                        
                    </form>
                </div>
           
            <button class="checkout-button">Place Order</button>
        </table>

    </div>
    </div>
</body>


{%endblock%}