{% extends 'conerapp/navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New About us page</title>
</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'about.css' %}">


    <section>
        <div class="about">
            <h1>About Us</h1>
            <p>"Welcome to Corner Shop!Download our app and discover a world of products at your fingertips.Shop everything you need from top brands all in one place.</p>
            <p>Whether you're looking for trendy fashion, electronics, home decor, or more, we've got you covered. we offer fast delivery to all places across the country.</p>
        </div>
        <div class="about-1">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="items text-centre">
                                <img src="{% static 'ICONS/open-book.png' %}" alt="">
                                <h3>Mission</h3>
                                <hr>
                                <p> Our mission is to become ur trusted partner in online shopping with exceptional customer service.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="items text-centre">
                                <img src="{% static 'ICONS/whatsapp.png' %}" alt="">
                                <h3>Vission</h3>
                                <hr>
                                <p> Our vision is to be the leading destination for online shopping,where everyone can find everything they need,fostering an efficient and trusted shopping experience.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="items" text-centre>
                                <img src="{% static 'ICONS/pencil.png' %}" alt="">
                                <h3>Archievements</h3>
                                <hr>
                                <p> Our Archievements are gaining a critical mass of users to test and provide feedback on the app and assembling a talented team of developers,designers and marketers .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>
