{% extends 'conerapp/navbar.html'%}
{% load static %}
{%block content%}
<body>
     <link rel="stylesheet" href="{% static 'addproduct1.css' %}">

        <div class="header">
            <h2>Add Product </h2>
        </div>
        <hr>


        <div class="container ">
        <form action="" method="POST" enctype="multipart/form-data" class="form">

            {% csrf_token %}
            {{ form.as_p }}
            <div class="buttons">
                <input type="submit" name="submit" class="button">
                <input type="reset" name="Reset" class="button">
            </div>

        </form>
        </div>

    {% endblock %}
</body>
