{% extends 'conerapp/navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Your Online Store</title>
</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    {% for message in messages%}
    <h3  style="background-color: #67f067; padding:20px; ">{{message}}</h3>
    {%endfor%}
 

    <section class="sec">
        <div class="content">
            <h1>Contact Us</h1>
            <p>Welcome to Coner Shop We are passionate about providing high-quality products and exceptional customer service.</p>
            <p>Whether you're looking for trendy fashion, electronics, home decor, or more, we've got you covered.</p>
        </div>
        <div class="container">
            <div class="contact-info">
                <div class="box">
                    <div class="icon">
                        <img src="{% static 'images/user.png' %}" alt="" width="55px" height="55px">
                        <div class="text">
                            <h3>Address</h3>
                            <p> address here</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <img src="{% static 'images/gmail.png'%}" alt="" width="55px" height="55px">
                        <div class="text">
                            <h3>Email</h3>
                            <p>group7@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <img src="{% static 'images/call.png'%}" alt="" width="55px" height="55px">
                        <div class="text">
                            <h3>Phone</h3>
                            <p>+256 763 085 855</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form">
                <form action="" method="POST">
                    <h2>Send Message</h2>
                    {%csrf_token%}
                    {{form.as_p}}
                    <!-- <div class="input-box">
                        <input type="text" required>
                        <span>Full Name</span>
                    </div>
                    <div class="input-box">
                        <input type="email" required>
                        <span>Email</span>
                    </div>
                    <div class="input-box">
                        <input required>
                        <span>Type Your Message Here</span>
                    </div> -->
                    <div class="input-box">
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endblock%}
</body>
</html>