{% extends 'conerapp/navbar.html'%}
{% load static %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corner Shop</title>
    <link rel="stylesheet" href="{% static 'index.css'%}">
</head>
<body>
   {% for message in messages%}
   <h3  style="background-color: #67f067; padding:20px; ">{{message}}</h3>
   {%endfor%}


   {% if user.is_authenticated %}
    <section class="top-page">
        <h2>Welcome, <span>{{ user.username }}</span>!</h2>
        <img src="{% static 'images/girl.png'%}" alt="home feature">
        <div class="container">
            <h3 style="margin-bottom: 40px; font-weight:500;">Dive into Cornershop and unlock the a world of shopping tailored jus for you .</h3>
            <a href="/shop" style="text-decoration: none; background: green; padding: 10px; margin-top: 10px; border-radius: 15px; color: white; font-weight: bold; font-size: 20px;">Shop Now &#8594;</a>
        </div>
    </section>

    <section class="category">
        <h2>Shop By Category</h2>
        <div class="categories">
            <div class="category">
                <img src="{% static 'images/j.jpg' %}" alt="">
                <a href="#"><h3>Men's Cloths</h3></a>
            </div>
            <div class="category">
                <img src="{% static 'images/c.jpg' %}" alt="">
                <a href="#"><h3>Chairs</h3></a>
            </div>
            <div class="category">
                <img src="{% static 'images/n.jpg' %}" alt="">
                <a href="#"><h3>Jewelry</h3></a>
            </div>
            <div class="category">
                <img src="{% static 'images/hard.jpg' %}" alt="">
                <a href="#"><h3>Men's Shoes</h3></a>
            </div>
            <div class="category">
                <img src="{% static 'images/push.jpg' %}" alt="">
                <a href="#"><h3>Women shoes</h3></a>
            </div>
        </div>
    </section>

    <section class="product">
        <h2>Featured Products</h2>
        <div class="content">
            {% for product in products %}
            <div class="products">
                <img src="{{product.image.url}}" width="300"  height="300">
                <h3>{{product.name}}</h3>
                <h6>{{product.price}}</h6><br>
              <a href="{% url 'product_details' product.id %}" class="button">Add to Cart</a>
            </div>
            {%endfor%}

        </div>
    </section>


{% else %}
        <h3 style="position: absolute; padding:20px; color: white;">Click Dashboard button to Register & Login to start  </h3>

        <img src="{% static 'images/corner-1.jpg' %}" style="background-size:cover; background-position:center; ">

 {% endif %}


</body>
</html>
{%endblock%}
