{% extends "conerapp/navbar.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    {%block content%}
    <link rel="stylesheet" href="{% static 'login3.css' %}">
    {% for message in messages%}
    <h3  style="background-color: #67f067; padding:20px; ">{{message}}</h3>
    {%endfor%}

    </style>
    <div class="sign">
        <div class="card">
            <div class="inner-box" id="card ">
                <div class="front">
                
                    <h2>LOGIN</h2>
                    <form action="" method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                      <label for="username">username:</label>
                      <input type="text" class="input" name="username" placeholder="Username" required>
                      
                      <label for="username">password:</label>
                      <input type="password" class="input" name="password" placeholder="password" required>
                      <button type="submit" class="btn1" >Submit</button>
                      <h3>Don't have an account</h3>
                      <a href="/register">Register</a>
                      
                    </form>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    {%endblock%}
</body>
</html>
