{% load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'navbar1.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>


<header>
        <input type="checkbox" name="checkbox" id="ch-bx">
        <img src="{%static 'images/log.jpg'%}" alt="cornershop logo" width="70px">
        <div class="logo"><h4> corner shop</h4></div>
        <div class="search-box">
                <form action="{% url 'search' %}" method="GET" class="search-bar">
                        <input type="text" name="search" id="search" placeholder="Search...">
                        <button type="submit" id="search-icon" tabindex="1"><i class="bi bi-search"></i></i></button>
                </form>
        </div>
        <ul>
              {% if user.is_authenticated %}
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/contacts">Contact</a></li>
                <li><a href="/about">About</a></li>
              {% else %}
                <li><a href="/">Home</a></li>
                <li><a href="/contacts">Contact</a></li>
                <li><a href="/about">About</a></li>
              {% endif %}
        </ul>
        <div class="dropdown" >
                <button onclick="toggleDropdown()" class="dropbtn" >Dashboard</button>
        <div id="myDropdown" class="dropdown-content" >
               {% if user.is_authenticated %}
                        <a href="/logout" >Logout</a>
                        <a href="/update_user" >Profile Update</a>
              {% else %}
                         <a href="/login" >Login</a>
                        <a href="/register" >Register</a>
              {% endif %}
              <a href="/business" >BusinessRegistration</a>
          </div>
     </div>
        <div class="cart">
                <li ><a href="{% url 'cart_summary'%}">cart</a></li>
                <i class="bi bi-cart-fill"></i>
                <span id="cart_quantity">{{ cart | length }}</span>
        </div>
        <div class="menu">
                <label for="ch-bx"> <i class="bi bi-list"></i></label>
        </div>
</header>

<script>
     function toggleDropdown() {
          var dropdown = document.getElementById("myDropdown");
          if (dropdown.style.display === "none") {
               dropdown.style.display = "block";
          } else {
               dropdown.style.display = "none";
            }
        }
</script>
          

{%block content%}


{%endblock%}
<footer>
    <div class="footer">
        <div class="in-footer">
            <div class="rows">
                <div class="cols">
                    <h3>corner shop</h3>
                    <ul>
                        <li><a href="/about">about us</a></li>
                        <li><a href="/contacts">contact us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#"> our team</a></li>
                    </ul>
                </div>
                <div class="cols">
                    <h3>Get help</h3>
                    <ul>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">delivery</a></li>
                        <li><a href="">order status</a></li>
                        <li><a href="">payment status</a></li>
                    </ul>
                </div>
                <div class="cols">
                    <h3>product categories</h3>
                    <ul>
                        <li><a href="">electronics</a></li>
                        <li><a href="">men's corner</a></li>
                        <li><a href="">women's corner</a></li>
                        <li><a href="">many more</a></li>
                    </ul>
                </div>
                <div class="cols">
                    <h3> follow us</h3>
                    <div class="icon-links">
                        <a href=""><img src="{% static 'images/facebook.png'%}" alt="" width="50px"></a>
                        <a href=""><img src="{% static 'images/instagram.png'%}" alt="" width="50px"></a>
                        <a href=""><img src="{% static 'images/twitter.png '%}" alt="" width="45px"></a>
                        <a href=""><img src="{% static 'images/whatsapp.png'%}" alt="" width="50px"></a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="Copyright">
                <p>Copyright &2023 Dsigned By GROUP 7</p>
            </div>
        </div>
    </div>
</footer>
