{% extends 'conerapp/navbar.html'%}
{% load static %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details Page</title>
    <link rel="stylesheet" href="{% static 'product.css' %}">
</head>
<body>


    <section class="product">
	   <h2> Product Details :</h2>

	   <hr>
	   {% for message in messages%}
	   <h3 style="padding: 20px; background-color: #67f067;">{{message}}</h3>
	   {%endfor%}
	   <div class="content">
		  <div class="products">

			 <div class="info">
				<div>
				    <img src="{{ product.image.url }}" alt="image1">
				</div>

				<div class="info-content">
				    <h3>{{ product.name }}</h3>
				    <p>{{ product.description }}</p>
				    <h6>{{ product.price }}</h6>
                        <div class=" contents">
                             <div class="qty">Quantity:</div>
                             <select class="quantity" id="qty-cart">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                             </select>
                        </div>
				</div>

			 </div>

			 <div class="buttons">
			    <a href="/shop" class="button">Shop Page</a>
				<button type="button" class="button" value="{{ product.id }}" id="add_cart"> Add to cart</button>
			 </div>

		  </div>
	   </div>
    </section>

<script type="text/javascript">

$(document).on('click', '#add_cart', function(e){
	e.preventDefault();
	$.ajax({
		type: 'POST',
		url: "{% url 'cart_add' %}",
		data:{
			product_id: $('#add_cart').val(),
               product_qty: $('#qty-cart option:selected').text(),
			csrfmiddlewaretoken : '{{ csrf_token }}',
			action : 'post'
		},
		success : function(json){
			//console.log(json)
			document.getElementById("cart_quantity").
				textContent = json.qty
               location.reload();
		},
		error : function(xhr, errmsg, err){

		}

	}); // $.ajax  Helps to send data to the backend without having to referesh the page.

});
</script>

</body>
</html>
{% endblock %}
