{% extends 'conerapp/navbar.html'%}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Register your cool page.</title>
    
</head>
<body>
    {%block content%}
    <link rel="stylesheet" href="{%static 'register1.css'%}">
    {% for message in messages%}
    <h3  style="background-color: #67f067; padding:20px; ">{{message}}</h3>
    {%endfor%}
    <div class="sign">
        <div class="card">
            <div class="inner-box" id="card ">
                <div class="back">
                    <h2>REGISTER</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                       {{form.as_p}}
                        <button type="submit" class="btn1">Submit</button>
                        <h3>Already have an account</h3>
                        <a href="/login">login</a>
                    </form>
                    
                </div> 
            </div>
        </div>
    </div>
    {%endblock%}
    
</body>
</html>