{% extends 'conerapp/navbar.html'%}
{% load static %}

{%block content%}

    <link rel="stylesheet" href="{% static 'shop.css'%}">

    <h2 style="margin-left: 15px; margin-top: 20px; margin-bottom: 20px; font-size: 40px;">Search Results:</h2>

    <hr>

    <div class="container">
        <section class="product">
            <div class="content">
                {% if products %}
                {% for product in products %}
                <div class="products">
                    <img src="{{product.image.url}}" width="300"  height="300">
                    <h3>{{product.name}}</h3>
                    <h6>{{product.price}}</h6>
                    <a href="{% url 'product_details' product.id %}" class="button">View Product</a>
                </div>
                {%endfor%}
                {% else %}
                    <p>Product Searhed for not Found !!! </p>
               {% endif %}

            </div>
        </section>
    </div>

{% endblock %}
