{% extends 'conerapp/navbar.html'%}
{% load static %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Page</title>
    <link rel="stylesheet" href="{% static 'shop.css' %}">
</head>
<body>
    <section class="product">
            <a href="/addproduct" class="button1"> + </a>
            <h2>ALL PRODUCTS</h2>
            <hr>
        <div class="content">
            {% for product in products %}
            <div class="products">
                <img src="{{product.image.url}}" width="300"  height="300">
                <h3>{{product.name}}</h3>
                <h6>{{product.price}}</h6>
                <div class="buttons">
                <a href="{% url 'product_details' product.id %}" class="button">View Product</a>
                </div>
            </div>
            {%endfor%}
<!--             <div class="products">
                <img src="{% static 'my PNG/CAFEC.webp' %}" alt="image2">
                <h3>CAFEC</h3>
                <h6>Shs.20K</h6>
                <button>Add To Cart</button>
            </div>
            <div class="products">
                <img src="{% static 'my PNG/COOL.jpg' %}" alt="image3">
                <h3>soft shoe</h3>
                <h6>Shs.50K</h6>
                <button>Add To Cart</button>
            </div> -->

        </div>
    </section>

</body>
</html>
</body>
</html>
{%endblock%}