*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: wheat;
}
header{
    padding: 20px;
    background-color: #635f5f; 
    height: 45px;
    display: flex;
    text-align: left;
    justify-content: space-between;
}

header img{
    border-radius: 50px;
    float: left;
    width: 65px;
}
header h1{
    display: flex;
    color: white;
    font-weight: bold;
    font-size:40px ;
    margin-left: 20px;
}
nav{
    display: flex;
    margin-bottom: 440px;
    float: right;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
}
nav ul li a:hover{
    background-color: #242323;
    color: wheat;
    padding:10px ;
    border-radius: 30px;
}
nav .account-icon{
    position: relative;
    display: inline-block;
}
nav .account-icon img{
    width: 30px;
    margin-left:20px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
nav .account-icon a{
    display: block;
    font-weight: bold;
    color: rgb(248, 248, 248);
    text-decoration: none;
    padding: 10px 15px;
}
nav .dropdown{
    display: none;
    position: absolute;
    background-color: #a3a1a1;
    min-width: 100px;
    box-shadow: 0px 8px 6px 0px rgb(0, 0, 0);
    z-index: 1;
}
nav .account-icon:hover .dropdown{
    display: block;
}
nav .dropdown a:hover{
    background-color: #5555f3;
}
.about{
    margin: 30px;
    padding: 5px;
}
.about h1{
    text-align: center;
    color: black;
    font-weight: bold;
}
.about p{
    text-align: center;
    padding: 3px;
    color:black;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 70px;
}
.items{
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px 30px;
    box-shadow: 0 0 9px rgb(0, 0, 0.6);
}
.items img{
    width: 43px;
}
.items h3{
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}
.items hr{
    width: 46px;
    height: 3px;
    background-color: black;
    border: none;
    margin: 0 auto;
}
.items p{
    margin-top: 20px;
}
.items:hover{
    background-color: #5fbff9;
}
.items:hover img,
.items:hover h3,
.items:hover p{
    color: white;
}
.items  hr:hover{
    color: black;
}
.items:hover img{
    transform: translateY(-20px);
}
.items:hover img,
.items:hover hr,
.items:hover h3{
    transition: all 400ms ease-in-out;
}
.footer{
    background-color: #252524;
    padding: 40px 0;
}
.footer .in-footer{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.footer .in-footer .rows{
    display: flex;
    flex-wrap: wrap;
}
.footer .in-footer .rows .cols{
    width: 25%;
    padding: 0px;
}
.footer .in-footer .rows .cols h3{
    font-size: 22px;
    color: white;
    text-transform: capitalize;
    font-weight: 900px;
    position: relative;
}
.footer .in-footer .rows .cols ul li{
    margin-bottom: 15px;
    cursor: pointer;
}
.footer .in-footer .rows .cols ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: wheat;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.footer .in-footer .rows .cols ul li a:hover{
    color: aqua;
    padding-left: 10px;
}
.footer .in-footer .rows .cols .icon-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 20px 20px 10px 0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}
.footer .in-footer .rows .cols .icon-links a:hover{
    filter: grayscale(10%);
    width: 50px;
    height: 50px;
}