body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: wheat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 20px;
    background-color: #635f5f; 
    height: 45px;
    display: flex;
    text-align: left;
    justify-content: space-between;
}

header img{
    border-radius: 50px;
    float: left;
    width: 65px;
}
header h1{
    display: flex;
    color: white;
    font-weight: bold;
    font-size:40px ;
    margin-left: 20px;
}
nav{
    display: flex;
    margin-bottom: 440px;
    float: right;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
}
nav ul li a:hover{
    background-color: #242323;
    color: wheat;
    padding:10px ;
    border-radius: 30px;
}
nav .account-icon{
    position: relative;
    display: inline-block;
}
nav .account-icon img{
    width: 30px;
    margin-left:20px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
nav .account-icon a{
    display: block;
    font-weight: bold;
    color: rgb(248, 248, 248);
    text-decoration: none;
    padding: 10px 15px;
}
nav .dropdown{
    display: none;
    position: absolute;
    background-color: #a3a1a1;
    min-width: 100px;
    box-shadow: 0px 8px 6px 0px rgb(0, 0, 0);
    z-index: 1;
}
nav .account-icon:hover .dropdown{
    display: block;
}
nav .dropdown a:hover{
    background-color: #5555f3;
}
.sec{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec .content{
    max-width: 800px;
    text-align: center;
}
.sec .content h1{
    font-size: 36px;
}
.sec .content p{
    font-weight: 300;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px ;
}
.container .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contact-info .box{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.container .contact-info .box .icon{
    display:flex;
    margin-left:20px;
    font-size: 16px;
    font-weight: 200;
}
.container .contact-info .box .icon h3{
    font-weight: 500;
    color: #00bcd4;
}
.form{
    width: 40%;
    padding: 40px;
    background: white;
}
.form h2{
    font-size: 30px;
    color: #333;
    font-weight:500;
}
.form .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.form .input-box input,
.form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom:2px solid #333;
    outline: none;
    resize: none;
}
.form .input-box span{
    position: absolute;
    left: 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.6s;
    color: #666;
}
.form .input-box input:valid ~ span,
.form .input-box input:focus ~ span,
.form .input-box textarea:valid ~ span,
.form .input-box textarea:focus ~ span{
    color: #ee2727;
    font-size: 12px;
    font-weight: bold;
    transform: translateY(-20px);
}
.form .input-box input[type="submit"]{
    width: 100px;
    background: #00bed4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.footer{
    background-color: #333;
    padding: 40px 0;
}
.footer .in-footer{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.footer .in-footer .rows{
    display: flex;
    flex-wrap: wrap;
}
.footer .in-footer .rows .cols{
    width: 25%;
    padding: 0px;
}
.footer .in-footer .rows .cols h3{
    font-size: 22px;
    color: white;
    text-transform: capitalize;
    font-weight: 900px;
    position: relative;
}
.footer .in-footer .rows .cols ul li{
    margin-bottom: 15px;
    cursor: pointer;
}
.footer .in-footer .rows .cols ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: wheat;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.footer .in-footer .rows .cols ul li a:hover{
    color: aqua;
    padding-left: 10px;
}
.footer .in-footer .rows .cols .icon-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 20px 20px 10px 0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}
.footer .in-footer .rows .cols .icon-links a:hover{
    filter: grayscale(10%);
    width: 50px;
    height: 50px;
}